<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
	
		<Console name="Console" target="SYSTEM_ERR">
			<PatternLayout pattern="[%-5p] %d %c - %m%n" />
		</Console>
		<File name="File" fileName="dist/my.log">
			<PatternLayout pattern="[%-5p] %d %c - %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>

<!--  <!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >  

<suite name="Suite1"  parallel="tests" thread-count="5">  
<test name="test1">  
    <parameter name="browser" value="chrome"/>  
    <parameter name="nodeIp" value="http://172.16.16.62:5555"/>  
    <classes>  
        <class name="com.webtest.test.LoginClass"></class>  
    </classes>  
</test>  

<test name="test2">  
    <parameter name="browser" value="chrome"/>  
    <parameter name="nodeIp" value="http://172.16.16.62:5555"/>     
    <classes>  
        <class name="com.webtest.test.LoginClass"></class>  
    </classes>  
</test>  

<test name="test3">  
    <parameter name="browser" value="chrome"/>  
    <parameter name="nodeIp" value="http://172.16.16.62:5555"/>   
    <classes>  
        <class name="com.webtest.test.LoginClass"></class>  
    </classes>  
</test>   
</suite>   -->
